body {
    margin: 0;
    font-family: "Almarai", sans-serif;
  }
  
  header {
    background-color: #b50938;
    color: white;
    font-family: sans-serif;
    /* top right bottom left */
    padding: 1em 0.5rem 0 0.5rem;
  }
  
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .title {
    font-family: "DM Sans", sans-serif;
  }
  
  #explainer {
    color: #b50938;
  }

  #search {
    display: flex;
    flex-direction: column;
    max-width: min-content;
  }

  #submit {
    width: min-content;
  }

  footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  